/* MAIN */

.center {
    margin: auto;
    display: flex;
    justify-content: right;
}

.logo {
   margin-top: 180px;
   margin-bottom: 20px;

}
/* BODY */

.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
 }

form {
    display: flex;
    justify-content: center
}

.search-bar {
    height: 40px;
    width: 600px;
    max-width: 700px;
    border-width: 1pt;
    border-style: solid;
    border-color: rgba(201,202,201);
    border-radius: 50px;
    margin-bottom: 20px; 
    margin-left: auto;
    margin-right: auto;
}

.button-apps {
    background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    width: 30px;
    height: 38px;
    margin-right: 3px;
    background-color: #fff;
    background-position: -132px -38px;
    opacity: 0.5;
}

button {
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.sign-in {
    background-color: #4285f4;
    width: 75px;
    height: 30px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 600;
    border-radius: 4px;
    border: none;
}
 ul {
     list-style-type: none;
     margin: 0;
     padding: 5px;
     float: right;
 }

 li {
     display: inline;
     
 }

 .search-input:focus {
     outline:none;
 }

  .search-input {
    width: 500px;
    height: 38px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.search-mag svg {
    display: block;
    height: 100%;
    width: 100%;
}

.search-mag {
    margin-top: -50px;
    color: #9aa0a6;
    height: 20px;
    width: auto;
    display: block;
    fill: currentColor;
    margin-right: auto;
    margin-left: auto;
    padding-right: 550px;
    min-width: 50px;
}

 /* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
}

 .right-links {
     position: fixed;
     bottom: 0;
     right: 1rem;
 }

 .left-links {
     float: left;
     padding: 5px;
    

 }

 a {
     color: blue;
 }
 
 a:active {
     color: red;
 }

