.main {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
margin-top: 15rem;
}

.logo {
    width: 272px;
    height: 92px;
    margin-bottom: 3rem;
}

.searchbar {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 580px;
    padding: 1rem;
    padding-right: 1rem;
}

.search-input {
    width: 90%;
    font-size: 1.6rem;
}